.App {
  text-align: center;
}

body {
  text-align: center;
  margin: 0 auto;
  background: #becabf;
  padding: 16px;
}

table {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  border-collapse: collapse;
  background: honeydew;
  border: #282c34 2.5vw solid;
}

td {
  width: 73px;
  height: 73px;
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
  background: saddlebrown;
}

.material-icons {
  position: relative;
  font-size: 2.8em;
  padding: 0 !important;
  margin: 0 !important;
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


.ChessIcons {
  font-size: 3em;
}


.selected {
  background: #282c34 !important;
}

div .floatingText {
  position: fixed;
  display: contents;
  width: 100px;
}
