.App {
  text-align: center;
}

body {
  text-align: center;
  margin: 0 auto;
  background: #282c34;
}

table {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  border-collapse: collapse;
  //background: aliceblue;
  border: #282c34 2.5vw solid;
}
table:after {
  content: "";
  display: block;
}

td {
  width: 73px;
  height: 73px;
}
.pHelper{
  display:table-footer-group;
  background: #23542c34;
  border-top: black .5px solid;

  td {
    background: transparent !important;
    height: 20px;
    padding-top: 4px;
  }
}

tr:nth-child(even) td:nth-child(odd),  tr:nth-child(odd) td:nth-child(even)  {
  background: #7a3d12;
 }

.material-icons {
  position: relative;
  font-size: 2.8em;
  padding: 0 !important;
  margin: 0 !important;
}



.ChessIcons {
  font-size: 3em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  stroke: black;
  stroke-width: .15em;
}


.selected {
  background: #282c34 !important;
}

div .floatingText {
  position: fixed;
  display: contents;
  width: 10px;
}

.moveHistory {
  width: 500px !important;
  height: 200px;
  text-align: center;
  background: blanchedalmond;
  border: 1px solid black;
  font-size:20px;
  display:inline-flex;
  flex-wrap:wrap;
}

.piece_text{
  display: block;
}
